<!-- <nav class="headernavbar">
    <div class="headerlogo">
        <a routerLink="/">Pferniture</a>
    </div>
    <div class="headercontact">
        <a routerLink="/dashboard">dashboard</a>
    </div>
    <div class="headercontact">
        <a routerLink="/login">login</a>
    </div>
</nav> -->

<header class="p-3 bg-dark" style="height: 110px;">
    <div class="naveiei">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <!-- <a href="/"
                class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"> <svg class="bi me-2"
                    width="40" height="32" role="img" aria-label="Bootstrap">
                    <use xlink:href="#bootstrap"></use>
                </svg> </a> -->
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li>
                    <div class="headerlogo">
                        <a routerLink="/" class="logo-link">
                            <img src="assets/image/logo.png" alt="Pferniture Logo" class="image-logo">
                        </a>
                    </div>
                </li>
                <li><a routerLink="/dashboard" class="nav-link px-2 text-white">dashboard</a></li>
                <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
                <li><a href="#" class="nav-link px-2 text-white">About</a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 search-container" role="search" (ngSubmit)="search()">
                <input type="search" class="form-control form-control-dark text-bg-dark"
                    placeholder="ค้นหาเฟอร์นิเจอร์ที่คุณต้องการ" aria-label="Search" [(ngModel)]="searchQuery"
                    name="searchQuery" (input)="onSearchInput($event)" (keydown.enter)="search()">

                <div *ngIf="searchResults.length > 0" class="search-results-list">
                    <ul>
                        <li *ngFor="let product of searchResults" class="search-result-item" (click)="goToProductDetail(product.productID)">
                            <img *ngIf="product.image_Url1" [src]="product.image_Url1" alt="Product Image"
                                class="product-image" />
                            <span class="product-name">{{ product.product_Name }}</span>
                            <span class="product-color">{{ product.color }}</span>
                            <span class="product-category">{{ product.category_Name }}</span>
                        </li>
                    </ul>
                
                </div>
            </form>

            <div class="text-end">
                <a *ngIf="isLoggedIn()" class="btn btn-dark me-2" [routerLink]="'/pf-1'">
                    <img src="assets/image/github-logos.png" alt="profile Logo" class="profile-logo">
                </a>

                <button *ngIf="!isLoggedIn()" type="button" class="btn btn-outline-light me-2"
                    [routerLink]="'/login'">Login</button>
                <button *ngIf="!isLoggedIn()" type="button" class="btn btn-warning me-2"
                    [routerLink]="'/register'">Sign-up</button>

                <button *ngIf="isLoggedIn()" type="button" class="btn btn-primary" (click)="logout()">Logout</button>
            </div>

        </div>
    </div>
</header>