# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
TEST100API/.vs/slnx.sqlite
TEST100API/.vs/VSWorkspaceState.json
TEST100API/.vs/ProjectEvaluation/test100api.metadata.v9.bin
TEST100API/.vs/ProjectEvaluation/test100api.projects.v9.bin
TEST100API/.vs/ProjectEvaluation/test100api.strings.v9.bin
TEST100API/.vs/TEST100API/config/applicationhost.config
TEST100API/.vs/TEST100API/CopilotIndices/17.14.1091.29919/CodeChunks.db
TEST100API/.vs/TEST100API/CopilotIndices/17.14.1091.29919/CodeChunks.db-shm
TEST100API/.vs/TEST100API/CopilotIndices/17.14.1091.29919/CodeChunks.db-wal
TEST100API/.vs/TEST100API/CopilotIndices/17.14.1091.29919/SemanticSymbols.db
TEST100API/.vs/TEST100API/CopilotIndices/17.14.1091.29919/SemanticSymbols.db-shm
TEST100API/.vs/TEST100API/CopilotIndices/17.14.1091.29919/SemanticSymbols.db-wal
TEST100API/.vs/TEST100API/DesignTimeBuild/.dtbcache.v2
TEST100API/.vs/TEST100API/FileContentIndex/07650abb-f3cf-4de5-a3fc-31fbbf54c86c.vsidx
TEST100API/.vs/TEST100API/FileContentIndex/4b9bb2cf-4c31-477a-bdb1-f4cbab0c1b98.vsidx
TEST100API/.vs/TEST100API/FileContentIndex/6ef20110-283d-40d4-8561-dffd623be992.vsidx
TEST100API/.vs/TEST100API/FileContentIndex/aaac9870-a5e4-4aea-b5d3-109d255875b6.vsidx
TEST100API/.vs/TEST100API/FileContentIndex/c67813f0-0236-461e-9dae-03e41e6c781a.vsidx
TEST100API/.vs/TEST100API/v17/.futdcache.v2
TEST100API/.vs/TEST100API/v17/.suo
TEST100API/.vs/TEST100API/v17/.wsuo
TEST100API/.vs/TEST100API/v17/DocumentLayout.backup.json
TEST100API/.vs/TEST100API/v17/DocumentLayout.json
TEST100API/TEST100API/TEST100API.csproj.user
TEST100API/TEST100API/bin/Debug/net9.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
TEST100API/TEST100API/bin/Debug/net9.0/Microsoft.AspNetCore.OpenApi.dll
TEST100API/TEST100API/bin/Debug/net9.0/Microsoft.EntityFrameworkCore.Abstractions.dll
TEST100API/TEST100API/bin/Debug/net9.0/Microsoft.EntityFrameworkCore.dll
TEST100API/TEST100API/bin/Debug/net9.0/Microsoft.EntityFrameworkCore.Relational.dll
TEST100API/TEST100API/bin/Debug/net9.0/Microsoft.EntityFrameworkCore.SqlServer.dll
TEST100API/TEST100API/bin/Debug/net9.0/Microsoft.Identity.Client.dll
TEST100API/TEST100API/bin/Debug/net9.0/Microsoft.IdentityModel.Abstractions.dll
TEST100API/TEST100API/bin/Debug/net9.0/Microsoft.IdentityModel.JsonWebTokens.dll
TEST100API/TEST100API/bin/Debug/net9.0/Microsoft.IdentityModel.Logging.dll
TEST100API/TEST100API/bin/Debug/net9.0/Microsoft.IdentityModel.Protocols.dll
TEST100API/TEST100API/bin/Debug/net9.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
TEST100API/TEST100API/bin/Debug/net9.0/Microsoft.IdentityModel.Tokens.dll
TEST100API/TEST100API/bin/Debug/net9.0/Microsoft.OpenApi.dll
TEST100API/TEST100API/bin/Debug/net9.0/Microsoft.SqlServer.Server.dll
TEST100API/TEST100API/bin/Debug/net9.0/System.Configuration.ConfigurationManager.dll
TEST100API/TEST100API/bin/Debug/net9.0/System.IdentityModel.Tokens.Jwt.dll
TEST100API/TEST100API/bin/Debug/net9.0/TEST100API.dll
TEST100API/TEST100API/bin/Debug/net9.0/TEST100API.exe
TEST100API/TEST100API/bin/Debug/net9.0/TEST100API.pdb
TEST100API/TEST100API/bin/Debug/net9.0/runtimes/win/lib/net6.0/Microsoft.Data.SqlClient.dll
TEST100API/TEST100API/bin/Debug/net9.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
