<app-nav-admin></app-nav-admin>
<br />
<br />
<div class="main-container mb-3">
  <div *ngIf="product" class="row">

    <!-- คอลัมน์แรกสำหรับแสดงรูป -->
    <div class="col-md-6 mb-6">
      <!-- แถวที่ 1 สำหรับ Image 1 และ URL input -->
      <div class="row mb-3">
        <div class="col-md-6">
          <label>Image 1:</label>
          <div *ngIf="product.image_Url1">
            <img [src]="product.image_Url1" alt="Image Preview" width="200" height="200" class="img-thumbnail" />
          </div>
        </div>
        <div class="col-md-6">
          <input [(ngModel)]="product.image_Url1" name="image_Url1" [readonly]="!isEditMode" class="form-control" />
        </div>
      </div>

      <!-- แถวที่ 2 สำหรับ Image 2 และ URL input -->
      <div class="row mb-3">
        <div class="col-md-6">
          <label>Image 2:</label>
          <div *ngIf="product.image_Url2">
            <img [src]="product.image_Url2" alt="Image Preview" width="200" height="200" class="img-thumbnail" />
          </div>
        </div>
        <div class="col-md-6">
          <input [(ngModel)]="product.image_Url2" name="image_Url2" [readonly]="!isEditMode" class="form-control" />
        </div>
      </div>

      <!-- แถวที่ 3 สำหรับ Image 3 และ URL input -->
      <div class="row mb-3">
        <div class="col-md-6">
          <label>Image 3:</label>
          <div *ngIf="product.image_Url3">
            <img [src]="product.image_Url3" alt="Image Preview" width="200" height="200" class="img-thumbnail" />
          </div>
        </div>
        <div class="col-md-6">
          <input [(ngModel)]="product.image_Url3" name="image_Url3" [readonly]="!isEditMode" class="form-control" />
        </div>
      </div>
    </div>


    <!-- คอลัมน์ที่สองสำหรับแสดงข้อมูลสินค้า -->
    <div class="col-md-6 mb-6">
      <div class="d-flex justify-content-end align-items-end mb-1">
        <h1>ข้อมูลสินค้า</h1>
        <button type="button" (click)="toggleEditMode()" class="btn btn-secondary">
          {{ isEditMode ? 'Save Changes' : 'Edit' }}
        </button>
        <button type="button" (click)="handleDelete()" class="btn btn-danger">Delete</button>
      </div>

      <h2>{{ product.product_Name }}</h2>
      <form #productForm="ngForm">
        <div>
          <label>Product Name:</label>
          <input [(ngModel)]="product.product_Name" name="product_Name" [readonly]="!isEditMode" class="form-control" />
        </div>
        <div>
          <label>Product ID:</label>
          <input [(ngModel)]="product.productID" name="productID" [readonly]="!isEditMode" class="form-control" />
        </div>
        <div>
          <label>Category Name:</label>
          <input [(ngModel)]="product.category_Name" name="category_Name" readonly class="form-control" />
        </div>
        <div>
          <label>Category ID:</label>
          <input [(ngModel)]="product.categoryID" name="categoryID" [readonly]="!isEditMode" class="form-control" />
        </div>
        <div>
          <label>Size:</label>
          <input [(ngModel)]="product.size" name="size" [readonly]="!isEditMode" class="form-control" />
        </div>
        <div>
          <label>Color:</label>
          <input [(ngModel)]="product.color" name="color" [readonly]="!isEditMode" class="form-control" />  
        </div>

        <div>
          <label>Price:</label>
          <input [(ngModel)]="product.price" name="price" [readonly]="!isEditMode" class="form-control" />
        </div>
        <div>
          <label>Price Discount:</label>
          <input [(ngModel)]="product.price_Discount" name="price_Discount" [readonly]="!isEditMode"
            class="form-control" />
        </div>
        <div>
          <label>Description:</label>
          <textarea [(ngModel)]="product.pDescription1" name="description1" [readonly]="!isEditMode"
            class="form-control"></textarea>
        </div>
        <div>
          <label>Description:</label>
          <textarea [(ngModel)]="product.pDescription2" name="description2" [readonly]="!isEditMode"
            class="form-control"></textarea>
        </div>
        <div>
          <label>Description:</label>
          <textarea [(ngModel)]="product.pDescription3" name="description3" [readonly]="!isEditMode"
            class="form-control"></textarea>
        </div>

      </form>
    </div>
  </div>
</div>