.confirm-container {
  margin-top: 90px;
  padding: 24px;
  background-color: #f9fafc;
  min-height: 100vh;
  border-radius: 8px;
}

.card {
  border-radius: 10px;
}

img.rounded-3 {
  object-fit: cover;
}

.alert {
  font-weight: 600;
  border: none;
}
